@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  color: black;
  padding: 0 25px;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

nav h1 span {
  color: red;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding-bottom: 5px;
  transition: border 0.5s ease;
}

nav ul li:hover {
  border-bottom: 1px solid red;
  cursor: pointer;
}

.btn-book {
  border: none;
  background: red;
  padding: 8px;
  border-radius: 25px;
  color: #fff;
}

.btn-book a {
  color: #fff;
  text-decoration: none;
}

.hero {
  height: 90vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
}

.left {
  padding-right: 100px;
}

.left h1 {
  font-size: 3.5rem;
}

.left p {
  font-size: 1.3rem;
  margin: 25px 0;
  color: rgba(0, 0, 0, 0.5);
}

.watch {
  border: 2px dotted red;
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
}

.top {
  display: flex;
  background: #fff;
}

.sec1 {
  margin: 60px 20px;
}

.fixed-bg {
  background: url("./stats-bg.jpg") center center/cover no-repeat;
  background-attachment: fixed;
}

.bottom {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  color: #fff;
}
